body{
  background-color: black;
  color:azure;
  margin: none;
}

.navBar {
  list-style-type: none;
  background-color: black;
  overflow: hidden;
}

.navBar a {
  cursor: pointer;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navBar select{
  cursor: pointer;
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  height:auto;
}


.navBar a:hover {
  background-color: #ddd;
  color: black;
}




