.movie-row{
  display: flex;
  flex-wrap: wrap;
  justify-content:center ;
  padding: 20px;
}
.movie-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background: rgb(254, 254, 254);
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(225, 192, 45);
    width: 220px;
    margin: 20px ;
    text-align: center;
  }
  

  .movie-poster {
    width: 100%;
    
    border-radius: 5px;
  }
  
  /* .movie-info {
    
  } */
  
  .movie-title {
    font-size: 1.2em;
    font-weight: bold;
    color: black;
  }
  
  .movie-year {
    color: gray;
  }

  .movie-card:hover{
    width: 240px;
    
  }
  