@keyframes imgslide{
  0% {background:url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQCtd9A9C2zCWkOznT6xf4YwB-n5z8kVzHT41U-XfDkmg2Gu9hm")}
  15% {background:url("https://upload.wikimedia.org/wikipedia/en/e/ed/The_Murder_of_Nicole_Brown_Simpson_poster.jpg")}
  30% {background:url("https://upload.wikimedia.org/wikipedia/en/9/90/Bad_Boys_for_Life_poster.jpg")}
  45% {background:url("https://upload.wikimedia.org/wikipedia/en/4/4e/AFallFromGrace.png")}
  60% {background:url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQjang2tSfHU_olHQ-m_gzuGMDV-h1wMsAsoagx_ho5GW2KksCy")}
  80% {background:url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQCtd9A9C2zCWkOznT6xf4YwB-n5z8kVzHT41U-XfDkmg2Gu9hm")}
  100% {background:url("https://upload.wikimedia.org/wikipedia/en/a/a2/The_Turning_poster_2020.jpg")}
}

.imgdisplay{
  animation-name: imgslide;
  height:326px;
    padding:10px;
    animation-duration: 30s;
    animation-iteration-count: 5;
    box-shadow: 10px 10px 5px rgb(64, 62, 62) ;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:100%;
    overflow: hidden;
    background-color: #100f0f;
}
    
    
    li button {
      float:left;
      display: block;
      color: white;
      background-color: #100f0f;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li button:hover {
      background-color:rgb(217, 74, 74);
    }
    
    
  