
@keyframes imgslides{
    0% {background:url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQCtd9A9C2zCWkOznT6xf4YwB-n5z8kVzHT41U-XfDkmg2Gu9hm")}
    15% {background:url("https://upload.wikimedia.org/wikipedia/en/e/ed/The_Murder_of_Nicole_Brown_Simpson_poster.jpg")}
    30% {background:url("https://upload.wikimedia.org/wikipedia/en/9/90/Bad_Boys_for_Life_poster.jpg")}
    45% {background:url("https://upload.wikimedia.org/wikipedia/en/4/4e/AFallFromGrace.png")}
    60% {background:url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQjang2tSfHU_olHQ-m_gzuGMDV-h1wMsAsoagx_ho5GW2KksCy")}
    80% {background:url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQCtd9A9C2zCWkOznT6xf4YwB-n5z8kVzHT41U-XfDkmg2Gu9hm")}
    100% {background:url("https://upload.wikimedia.org/wikipedia/en/a/a2/The_Turning_poster_2020.jpg")}


}


.container {
    margin-top: 50px;;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f4f4f4;
  }
  

 .icon{
    position:fixed;
    padding: 10px;
    min-width: 40px;
    margin-top: -3.5%;
  }

  
  
  
  .login-box {
    display: flex;
    width: 800px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  
  .form-left {
    width: 50%;
    background: url('https://source.unsplash.com/600x800/?movie,cinema') no-repeat center;
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    animation-name: imgslide;
    animation-duration: 10s;
    animation-iteration-count: infinite;

  }
  
  @media (max-width: 768px) {
    .form-left {
      display: none;
    }
  }
  
  
  .form-right {
    width: 50%;
    padding: 30px;
  }
  
  @media (max-width: 768px) {
    .form-right {
      width: 100%;
    }
  }
  
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  .content {
    margin-bottom: 15px;
    
  }
  
  .content label {
    display: block;
    font-weight: bold;
    color: #555;
  }
  
  .content input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

  }

  .content .icon-input{
    width: 100%;
            padding: 10px;
            text-align: right;
  }
  
  .userAuth {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .userAuth:hover {
    background-color: #0056b3;
  }
  
  
  .link {
    text-align: center;
    margin: 10px 0;
  }
  
  .link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .link a:hover {
    text-decoration: underline;
  }
  
  
  .signup {
    width: 100%;
    padding: 10px;
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signup:hover {
    background-color: #5a6268;
  }
  