@keyframes imgslide{
    0% {background:url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQCtd9A9C2zCWkOznT6xf4YwB-n5z8kVzHT41U-XfDkmg2Gu9hm")}
    15% {background:url("https://upload.wikimedia.org/wikipedia/en/e/ed/The_Murder_of_Nicole_Brown_Simpson_poster.jpg")}
    30% {background:url("https://upload.wikimedia.org/wikipedia/en/9/90/Bad_Boys_for_Life_poster.jpg")}
    45% {background:url("https://upload.wikimedia.org/wikipedia/en/4/4e/AFallFromGrace.png")}
    60% {background:url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQjang2tSfHU_olHQ-m_gzuGMDV-h1wMsAsoagx_ho5GW2KksCy")}
    80% {background:url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQCtd9A9C2zCWkOznT6xf4YwB-n5z8kVzHT41U-XfDkmg2Gu9hm")}
    100% {background:url("https://upload.wikimedia.org/wikipedia/en/a/a2/The_Turning_poster_2020.jpg")}
}

.container{
    display: block;
    align-items: center;
    height: 400px;
    width: 500px;
    padding:10px;
    background-color: rgb(21, 26, 26);
    border-radius: 20px;
    box-shadow: 15px 15px 5px rgb(168, 83, 83);

}

img{
    width:200px
}

.form-left{
    
    width:220px;
    height:100%;
    padding:10px;
    float: left;
    align-items: center;
    animation-name: imgslide;
    animation-duration: 10s;
    animation-iteration-count: 10;
}

.form-right{
    margin-top:30px;
    
    padding:10px;
    float: right;
}

.content{
    display :block;
    padding: 10px;
    margin: 10px;
    color: white;

}

label{
    font-size: large;
    font-weight: 700;
    text-align: left;
}

.content{
    input{
        height: 30px;
        width: 200px;
        border-radius: 5px;
    }
    
}

form{
    button{
        border-radius: 10px;
        background-color: rgb(214, 223, 220);
    }
}