.modal{
    position:fixed;
    display:flex;
    background: rgba(0, 0, 0, 0.5) ;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.modal-container{
 background-color: azure;
 color: black;
 max-width: 500px;
 width: 100%;
 border-radius: 20px;
 font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  text-align: center;
  border-radius: 6px;
  box-shadow: 4px 4px 15px #3e3e3e;
  font-family: "Segoe UI", Tahoma, sans-serif;
  cursor: default;
}

.modal-container button{
    
        cursor: pointer;
        width: 100%;
        padding: 4px 6px;
        border-radius: 4px;
        color: #fff;
        border: none;
        height: 30px;
        width: 100%;
      
}

.modal-footer{
    display: flex;
  flex-direction: row;
  height: 32px;
  margin-top: 20px;
  gap: 7px;
  width: 100%;
}